<?xml version="1.0"?>
<!--
/**
 * @category   WBS
 * @package    Wbs_Reindexer
 * @author     WebShouters Team
 * @copyright  Copyright (c) 2017-2018 WebShouters. ( https://www.webshouters.com )
 * @license    https://www.webshouters.com//Wbs-Commerce-License.txt
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="admin">
        <route id="reindexdata" frontName="reindexdata">
            <module name="Wbs_Reindexer"/>
        </route>
    </router>
</config>
